# Compiled Python files
*.pyc
__pycache__/
*.py[cod]
*.pyo

# SQLite DB
*.sqlite3

# Media
# Ignore everything in media except .gitkeep files
media/*
!media/card_audio/.gitkeep
!media/card_images/.gitkeep

# Virtual environments
.venv/
venv/
/venv/

# Env files
.env
*.env

# Django migrations
*/migrations/__pycache__/

# Editors
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Coverage & test
.coverage
htmlcov/
.tox/
.nox/

# Static (optional)
staticfiles/

# Node (if using JS tools)
node_modules/
package-lock.json